@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,700|Exo:100,200,300,400,500,600,700!');
/* --------------------------Colors*/

.bg-color-name-title {
    background-color: #676767;
}

.bg-color-three-reasons {
    background-color: #ffffff;
}

.bg-color-personal-info {
    background-color: #f4f4f4;
}

.bg-color-work-history {
    background-color: #9d45ad;
}

.bg-color-contact {
    background-color: #ffffff;
}

.bg-color-conferences {
    background-color: #3EA2BC;
}

.bg-color-groups {
    background-color: #FAFAFA;
}

.ui-menu-color-home {
    background-color: #74397E;
}

.ui-menu-color-resume {
    background-color: #9d45ad;
}

.ui-menu-color-contact {
    background-color: #3EB798;
}

.ui-menu-color-interests {
    background-color: #3EA2BC;
}

.ui-menu-color-github {
    background-color: #3E6CC1;
}

.ui-menu-color-download,
.progress-bar {
    background-color: #525252;
}


body {
    font-family: "roboto", sans-serif;
    font-weight: 300;
    background-color: #525252;
}

/* --------------------------Special Padding/margin/text*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

/*.section-column {
    padding: 0 30px 30px;
    float: none;
    display: table-cell;
}*/

.row-table {
    display: table;
}

.history-heading,
.section-heading,
.interests-heading {
    color: #525252;
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

a {
    color: #3EA2BC;
}


/* --------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/sophierose.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;
}

.title {
    font-family: "roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;
}


/* --------------------------Navigation*/

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menu-item a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/* --------------------------hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, .2);
    height: 120px;
}



/* --------------------------Footer*/

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
}

footer .cv-pdf i {
    color: #fafafa;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

footer .cv-pdf i:hover {
    color: #3EB798;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;

}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px, 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 2.5;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #3EB798;

}

#footer-deatils {
    margin: 20px;
}


/*----------------------------Three Reasons*/

.three-reasons-icon {
    font-size: 26px;
    color: #74397E;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

/*----------------------------Personal info*/

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    display: inline-block;
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    display: inline-block;
    position: relative;
    width: 60%;
}

/*----------------------------Skills*/

.progress {
    position: relative;
    height: 25px;

}

.progress-type {
    position: absolute;
    left: 0;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2)
}

.progress-section {
    margin: 40px 20px;
}

.skills-icon {
    font-size: 26px;
    color: #9d45ad;
}

/*----------------------------Work history*/

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "exo", sans-serif;
    font-weight: 500;
    font-size: .8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: "";
    background: #fafafa;
}

.history-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.history-items {
    margin-bottom: 50px;
}

/*----------------------------Interests*/

.interests-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.interests-icon {
    font-size: 26px;
    color: #3EA2BC;
}

div#map {min-height: 360px;}


/*----------------------------contact*/

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #3EB798;
    color: #fafafa;
    transition: ease-in-out;
}

.btn:hover {
    text-decoration: none;
    font-weight: bold;
    color: #fafafa;
}


/*----------------------------Media queries*/

@media(min-width:992px) {
    .section-column {
        padding: 0 30px 30px;
        float: none;
        display: table-cell;
    }

    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        min-width: 50%;
    }


}
